.fonted {
	font-family: "Times New Roman";
}

.title {
	margin-left: 40px;
	font-size: 19px;
	color: #C2C2C2;
}

.topics {
	margin-left: 40px;
}


.collection {
	font-size: 13px;
	color: #A4A5A6;
}



.date {
	font-size: 10px;
	color: #22CBFF;
}



.paragraphs {
	font-size: 12px;
}